html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.header {
  padding-left: 1.5em;
  margin: 0;
  text-align: left;
  position: absolute;
  bottom: 1em;
  left: 50%;
  max-width: 45em;
  width: 100%;
  transform: translateX(-50%);
}

.header p {
  margin: 0;
  font-size: 2rem;
}

.title {
  display: inline;
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 4rem;
}

.body {
  padding-bottom: 1em;
  font-style: italic;
}
